# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Virtual Environment
venv/
env/
ENV/
