<nav class="navbar">
    <div class="navbar-container">
        <a href="{% url 'home' %}" class="logo">VidShare</a>
        <ul class="navbar-links">
            <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'upload_video' %}" class="nav-link">Upload Video</a></li>
                <li><a href="{% url 'my_videos_list' %}" class="nav-link">My Videos</a></li>
                <li><a href="{% url 'logout' %}" class="nav-link button">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                <li><a href="{% url 'signup' %}" class="nav-link button">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>